		<%= form_for @beer do |f| %>
			<div class="b3"><%= @beer.name.upcase %></div>
			<br/>
			<div class="l1">
				Brewery:<br/> 
				<%= f.text_field :brewery, placeholder: "Brewery", size: "25px" %><br/>
				Style:<br/>
				<%= f.text_field :style, placeholder: "Style", size: "25px" %><br/>
				ABV:<br/> 
				<%= f.number_field :alc, placeholder: "ABV", size: "25px" %><br/>
				Rating:<br/> 
				<%= f.number_field :rating, placeholder: "(1-10)", size: "25px" %><br/>
				Price:<br/> 
				<%= f.number_field :price, placeholder: "Price", size: "25px" %><br/>
				<datalist id=tastes>
						<option>Dry</option>
						<option>Hoppy</option>
						<option>Sour</option>
						<option>Sweet</option>
						<option>Crisp</option>
					</datalist>
				<br/>Color:
				<%= f.color_field :color, list: "colors", placeholder: "#ffeaa5" %><br/>
				<br/>Label Photo:<br/>  
				<%= f.file_field :img %></div><br/>
				<div><%= f.submit "Update", class: "l1"%></div>
					<datalist id=colors>
						<option>#ffeaa5</option>
						<option>#efc784</option>
						<option>#f5b65d</option>
						<option>#e69943</option>
						<option>#d28d44</option>
						<option>#ce6f2b</option>
						<option>#ce4c36</option>
						<option>#653615</option>
						<option>#5f332a</option>
						<option>#261408</option>
					</datalist>
				<% end %>