<!-- Nav -->

<div class="nav">
	<% if user_signed_in? %>
	Logged in as <strong><%= current_user.email %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "login", new_user_session_path %>
	<% end %>
</div>

<!-- Secton 1 -->

<div class="hero">
	<div>
		<img src="<%= asset_path('logo.svg') %>" >
		<h1> a simple app.<br>with a complex obsession.</h1>
		<h2> kanpai <span>for beer drinkers</span></h2>
	</div>
</div>

<div class="about">
	<div>
		<h1>welcome to kanpai.beer</h1>
		<h2>kanpai.beer is a simple app for beer drinkers & craft beer enthusiats.</h2>
		<h2>stripped clean of all the trappings of social media,<br> kanpai.beer lets you focus on the finer aspects of being a beer conniseur.</h2>
		<h2>keep track of beers you want to drink with the wishlist.<br>once you’ve polished off that frosty mug, create a concise review.</h2>
		<h2>best of all, <span>it’s free to use!</span></h2>
		<button><%= link_to "try it now", new_user_registration_path %></button>
	</div>
</div>

<div class="how">
		<div>
			<div class="how-text">
				<h1>the proper way to kanpai</h1>
			</div>
			<div class="mugs">
				<img src="<%= asset_path('mug.svg') %>" >
				<img src="<%= asset_path('mug.svg') %>" >
			</div>
			<div class="arrows">
				<div class="arrow-left">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
				<h1><span>!</span></h1>
				<div class="arrow">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
			</div>
			<div class="how-text">
				<h2>while looking your drinking mate in the eye,<br>bring your glasses together and shout “kanpai!”</h2>
				<p>* resize the window for a demonstration</p>
			</div>
		</div>
</div>