<div><%= link_to "BACK", beers_path %></div>
<div>
	<div>
		<div><%= @beer.name.upcase %></div>
			<br/>
			<div>
			Brewery:<br/>
			<span><%= @beer.brewery  %><br/></span><br/>
			Style:<br/>
			<span><%= @beer.style %><br/></span><br/>
			ABV%: 
			<span><%= @beer.alc %><br/></span><br/>
			Rating: 
			<span><%= @beer.rating %></span> out of 10<br/><br/>
			Price: $
			<span><%= @beer.price %><br/></span><br/>
			Color:
			<div style="color:<%= @beer.color %>" >▉<br/></div><br/>
			<br/>
		</div>
		<button><%= link_to 'REVISE', edit_beer_path(@beer) %></button><button><%= link_to "X", @beer, method: :delete, data: { confirm: "Are you sure?"} %></button>
	</div>
<div>
	<div><%= image_tag @beer.img.url %><br/></div>
</div>